main {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
}

.imagemSection {
  width: 50%;
  height: 100vh;
  background: #fff;
  display: flex;
  overflow: hidden;
  float: left;
  align-items: center;
  justify-content: center;
}
img{
  width: 75%;
}

.loginSection {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  background-image: linear-gradient(#4e96f5 0%, #4bc6ff 50%, #4f9ae0 100%);
}

.login {
  width: 70%;
  width: 60%;
  height: 90vh;
  padding: 30px;
  background-color: #00b7ff00;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 4.5em;
  padding: 5% 0;
  margin-bottom: 20px;
  color: #003046;
  
}
input {
  width: 100%;
  height: 35px;
  font-size: 1em;
  border: 1px solid #7fcaff;
  border-radius: 8px;
  padding-left: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  color: #96b7c7;
}

p {
  width: 100%;
  margin: 3% 0 1% 0;
}
.esqueci {
  width: 100%;
  text-align: right;
  text-decoration: none;
  float: left;
  font-size: 0.9em;
  margin-bottom: 15px;
  color: #004b6e;
}

.bt-entrar {
  height: 40px;
  width: 100%;
  font-size: 1em;
  border: none;
  border-radius: 30px;
  margin-top: 5%;
  background-color: #00608d;
  font-weight: bold;
  color: #c7c5c5;
  font-size: 1rem;
}

.bt-social {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.bt-social img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.bt-social:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.bt-social:hover img {
  transform: scale(1.15);
}
.logar-com {
  font-size: 0.80rem;
  text-align: center;
  font-weight: bold;
  margin-top: 16px;
  color: #004b6e;
}

.icones-login {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 8px;
}

.google {
  background: #a3d9ff;
  border: 2px solid #005077;
}

.gith {
  background: #a3d9ff;
  border: 2px solid #005077;
}

.face {
  background: #a3d9ff;
  border: 2px solid #005077;
}
